$light-gray : #ddd;
$pastel-blue  : #666699;
$footer-height : 200px;

/* CSS to stick footer to the bottom*/
/* css-tricks.com/snippets/css/sticky-footer/*/
* {
  margin : 0;
}

html, body {
  height : 100%
}
/* End css to stick footer*/



body {
  background : #33CC99;
}

.header {
  background : white;
  .logo {
    margin : 0 auto;
    overflow : auto;
    width : 440px;
    .name {
      color : $light-gray;
      font-family : 'Black Ops One', cursive;
      font-size : 50px;
      float : left;
      margin : 0 17px;
    }

    .roundel {
      position : relative;
      float : left;

      .rectangle {
        width      : 68;
        height     : 15px;
        background : $pastel-blue;
        margin     : 26px 0;
      }

      .circle {
        font-size : 17px;
        position  : absolute;
        top       : 10px;
        left      : 12px;

        .fa-circle {
          color : $pastel-blue;
        }
        .fa-star {
          font-size : 35px;
        }
      }
    }

  }
}

.container {
  margin-top : 30px;

  /* CSS to stick footer to the bottom*/
  /* css-tricks.com/snippets/css/sticky-footer/ */

  min-height : 100%;
  margin-bottom : -$footer-height;

  &:after {
    content : "";
    display : block;
    height  : $footer-height;
  }

  /* End css to stick footer*/
}


.main {
  margin : 0 auto;
  width : 1200px;
  overflow : auto;
}

.footer {
  /* CSS to stick footer to the bottom*/
  /* css-tricks.com/snippets/css/sticky-footer/*/

  height : $footer-height;

  /* End css to stick footer*/

  background : #fffeee;

  .wrapper {
    width : 850px;
    margin : 0 auto;
    padding-top : 25px;
  /*border : 1px solid red;*/
  /*overflow : auto;*/

    .about {
      float : left;
    }

    .github {
      /*border : 1px solid green;*/
      width : 400px;
      float : right;

      img {
        float : left;
        margin-right : 35px;
      }

      .repositories {
        float : left;
        ul {
          /*border : 1px solid blue;*/
          padding-left : 28px;
        }
      }
    }
  }

}

.scoreboard {
  float : right;
  margin : 10px 30px 0 0;
  display : flex;
  flex-direction : column;

  .scoreboard-item {
    width : 300px;
    font-family : 'Black Ops One', cursive;
    font-size : 18px;
    padding : 5px 10px 0 10px;
    margin-bottom: 4px;
    color : #222;

    &.local {
      order : 1;
      background-color : #d0e7ff;
    }

    &.remote {
      order : 2;
      background-color: #fde7ad;
    }
  }
}

.gui {
  float :left;
}

.canvases {
  position : relative;
  width : 800px;
  height: 400px;
}

canvas {
  position : absolute;

  .main-canvas {
    z-index : 10;
  }

  .background-canvas {
    z-index : -10;
  }

}

.controls {
  color      : $light-gray;
  font-size  : 17px;
  margin-top : 10px;
  text-align : center;

  .key {
    font-weight : bold;
  }
}

img[data-behaviour~=image-resource] {
  display : none;
}
